future
emoji
lxml
beautifulsoup4
requests
sqlalchemy
python-telegram-bot==13.6
psycopg2-binary
aiohttp
jikanpy
regex
bleach
git+https://github.com/starry69/python-markdown2.git
telethon
datetime
pytz
cachetools
ujson
bs4
hachoir
pybase64
termcolor
pySmartDL
validators
tswift
PyYAML
humanize